<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">ComponentFactoryExamples</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="/alerts">Alerts</a></li>
        <li><a routerLink="/tabs">Dynamic Tabs</a></li>
        <li><a routerLink="/advertisement">Advertisement</a></li>
      </ul>
    </div>
  </div>
</nav>
